/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to overide default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Khula', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Khula', sans-serif;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
}

#logo>img {
    max-width: 23%;
    max-height: 100%;
}

#menu {
    text-size-adjust: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero image */

#hero {
    height: 600px;
    width: 100%;
    background: url(assets/images/20191227_222338.jpg) no-repeat center center/cover;
    position: relative;

}

#cover-text {
    /* Last value of rgba sets the opacity so it is translucent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* Navbar */ 
/* 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    border: 2px solid black;
    border-radius: 50%;
    width: 5rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-family: Lato;
}

li {
    display: inline;
}

nav {
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0px 20px 20px 20px;
    padding-bottom: 20px;
}

img {
    border: 2px solid black;
    max-width: 60%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

figure {
    margin-top: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: auto;
}

.grid-item {
    text-align: center;
    height: 200px;
    width: 33%;
    box-sizing: border-box;
}

@media only screen and (max-width: 720px) {
    .grid-item {
        width: 50%;
    }
}

@media only screen and (max-width: 580px) {
    .grid-item {
        width: 100%;
    }
}

.grid-tem > img {
    max-width: 100%;
    max-height: 100%;
}